html {
	background-color: aliceblue;
	display: inline-block;
}

header {
	text-align: center;
}

.title {
	width: 100%;
}

.hidden {
	display: none;
}

.results {
	border: 2px solid grey;
	padding: 2.08%;
}
.map-wrapper {
	height: 66%;
	width: 61%;
	position: fixed;
	max-height: 770px;
	max-width: 620px;
}

.map {
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}

.submit-buttons {
	width: 24%;
	text-align: center;
	margin: 0 auto;
}

.button-nav {
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 15px;
}

.results-button {
	width: 100%;
	margin-bottom: 15px;
}

.js-result-display {
	padding: 5px;
}

.results-button:after {
	margin-bottom: 0px;
}

/*@media only screen and (min-width: 1040px) {
	.map-wrapper {
		height: 66%;
		width: 60%;
		position: fixed;
	}
	.map {
		height: 100%;
		width: 73%;
	}
}*/