html {
	position: relative;
	min-height: 100%;
}

header {
	margin-top: 25px;
	text-align: center;
	color: seashell;
}

body {
	background: url("images/nyc-stock-photo.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: aliceblue;
	background-position: center;
}

main {
	padding-bottom: 6rem;
}

form {
	margin-top: 1rem;
}

.darken {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/NYC-stock-photo.jpg);
	height: 100%;
	width: 100%;
}

p {
	margin: 0 auto;
}

h3 {
	margin: 0 auto;
}

a {
	text-decoration: none;
}

button {
	background-color: rgba(5,5,5,0.7);
	color: seashell;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	transition: all 0.5s ease;
}

button:hover {
	background-color: seashell;
	color: rgba(5,5,5,0.7);
	cursor: pointer;
}

.title {
	width: 100%;
}

.hidden {
	display: none;
}

fieldset.search-form {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: seashell;
	border: none;
	font-size: larger;
}

div.radios {
	display: block;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

span {
	display: inline-block;
}

div.radio-set {
	display: inline-block;
}

input[type="radio"] {
	margin: 5px 0px 5px 5px;
	text-align: left;
	font-size: 120%;
}

.js-handicap, .js-no-handicap {
	margin-top: 10px;
	width: 25px;
	height: 25px;
	border-radius: 100%;
}

div.results {
	padding: 5rem 2.08% 8rem 2.08%;
	margin-top: 15px;
	height: 100%;
}

.search {
	height: 3rem;
	width: 50%;
	margin: 10px;
	background-color: rgba(5,5,5,0.7);
	color: seashell;
	padding-left: 1rem;
}

.search-submit {
	height: 3rem;
	padding: 0.5rem 1rem;
}

.js-result-display {
	padding: 5px;
}

.result-col {
	margin-bottom: 10px;
}

.br-results {
	margin-bottom: 1rem;
	padding: 2rem 10px;
	height: 300px;
	text-align: center;
	background-color: rgba(5,5,5,0.7);
	color: seashell;
}

.br-fail-results {
	color: seashell;
	text-align: center;
}

.result-title {
	display: inline-block;
	width: 100%;
}

/*to highlight comments*/
.important {
	color: red;
	font-weight: bold;
}
/*handles long titles that spill out of the results tabs*/
.js-br-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.location-container {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*handles long locations that spill out of the results tabs*/
.js-br-location {
	height: 18px;
}

.link-button {
	border-radius: 5%;
	border: 2px solid seashell;
	padding: 10px;
}

.results-nav {
	margin: 0 auto;
	text-align: center;
}

button.js-prev, button.js-next {
	margin: 0 auto;
	width: 25%;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6rem;
	width: 100%;
	padding: 1rem;
	background-color: rgba(5,5,5,0.7);
	color: seashell;
	text-align: center;
}

footer > div.col-3 {
	float: none;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0.5rem 0.5rem 0 0.5rem;
}

footer p {
	width: 12rem;
	font-size: 	15px;
}

.footer-link {
	display: inline-block;
	margin: 0.5rem;
}

.link-hover {
	color: seashell;
	padding: 1px 5px;
	transition: all 0.25s ease-in-out 0s;
}

.link-hover:hover {
	transform: scale(1.1);
	background: seashell;
	color: rgba(5,5,5,0.7);
	border-radius: 5px;
}