html {
	background-color: aliceblue;
	display: inline-block;
}

header {
	text-align: center;
}

.title {
	width: 100%;
}

.hidden {
	display: none;
}

.button-nav {
	margin: 0 auto;
}

div.results {
	border: 2px solid grey;
	padding: 2.08%;
	margin-top: 15px;
}
.map-wrapper {
	height: 540px;
	width: 100%;
	max-height: 620px;
	padding: 5px;
}

.map {
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}

.submit-buttons {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	min-width: 136px;
	margin-bottom: 5px;
}

.page-nav {
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 15px;
}

.search-wrapper {
	margin: 0 auto;
	text-align: center;
	width: 33.333%;
	min-width: 260px;
}

#search {
	width: 66.666%;
}

.results-button {
	width: 100%;
	margin-bottom: 15px;
}

.nav {
	width: 20%;
}

.nav-wrapper {
	margin: 0 auto;
	text-align: center;
}

.js-result-display {
	padding: 5px;
}

.results-button:after {
	margin-bottom: 0px;
}
