
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.row {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.row::before, 
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-12, .col-4, .col-8 {
	float: left;
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
}

.col-12, .col-4, .col-8 {
	width: 100%;
}

@media only screen and (min-width: 620px) {
	.col-4 {
		width: 33.333%;
	}
	.col-8 {
		width: 58.333%;
		height: 620px;
	}
	.col-12 {
		width: 100%;
	}
	.map-wrapper {
		position: fixed;
	}
	.submit-buttons {
		width: 24%;
	}
	.search-wrapper {
		text-align: left;
	}
}

@media only screen and (min-width: 1020px) {
	.col-4 {
		width: 41.666%;
	}

	.col-8 {
		width: 58.333%;
		height: 620px;
	}

	.col-12 {
		width: 100%;
	}
	.map-wrapper {
		position: fixed;
		max-width: 630px;
		width: 80%;

	}
}

