/*style sheet to manage responsiveness of elements across screen sizes*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.row {
	max-width: 1920px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0 auto;
}

.row::before, 
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col-12, .col-4, .col-8, .col-3 {
	float: left;
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
	display: inline-block;
}

.col-12, .col-8, .col-3 {
	width: 100%;
}

.col-4 {
	width: 50%;
}

/*@media only screen and (max-width: 620px) {
	.col-4 {
		width: 100%;
	}
	label.radio {
		width: 100%;
		display: inline-block;
	}
}

@media only screen and (min-width: 620px) {
	.col-4 {
		width: 45%;
		margin-left: 5%;
	}
	div.radios {
		width: 100%;
	}
	
}
*/
@media only screen and (min-width: 1000px) {
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.333%;
	}
	.col-8 {
		width: 66.666%
	}
	.col-12 {
		width: 100%;
	}
}


